.all{
        background-image: url("https://th.bing.com/th/id/R.ba40516f84cf3a90337568b852428e7f?rik=d%2b5onu2n7wMU5Q&pid=ImgRaw&r=0");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
